(board:[[],["Bl"],["Or","Bl"],["Bl","Or","Bl"],["Bl","Bl","Or","Bl"],["Bl","Bl","Bl","Bl","Bl"],["Bl","Bl","Bl","Bl","Bl","Bl"],["Bl","Bl","Bl","Bl","Bl","Bl","Bl"],["Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl"],["Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl"],["Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl"],["Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl"],["Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl"],["Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl"],["Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl"],["Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl"],["Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl"],["Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl"],["Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl"],["Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl","Bl"]])